<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Browser Tools | Web Frontend Development</title>
 <meta name="description" content="Browser tools useful for CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>Browser Tools</h1>
<p>There are several browser tools that we will add to Chrome and FireFox for use in the class. <b>Note:</b> You will have your regular version of Chrome and a Brackets developer version. You will want to add the tools to both.</p>

    <h2>Web Developer</h2>
    <p>The Web Developer tool by Chris Pederick is a fantastic tool for validation, document outline checking and hundreds of other development tasks. This is a <b>must have</b> tool!</p>
    <ul>
     <li><a href="//chrome.google.com/webstore/detail/web-developer/bfbameneiokkgbdmiekhjnmfkcnldhhm" title="Open the extension page in a new tab" target="_blank">Web Developer for Chrome</a></li>
     <li><a href="//addons.mozilla.org/en-US/firefox/addon/web-developer/" title="Open the extension page in a new tab" target="_blank">Web Developer for FireFox</a></li>
    </ul>
    <h2>WAVE</h2>
<p>The WAVE tool is an accessibility checker developed by Utah State University. A great tool for checking web pages to meet accessibility standards.</p>
    <ul>
     <li><a href="//chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh" title="Go to the WAVE installation page in a new tab" target="_blank">Wave for Chrome</a> </li>
     <li><a href="//addons.mozilla.org/en-US/firefox/addon/wave-accessibility-tool/?src=api" title="Go to the WAVE installation page in a new tab" target="_blank">Wave for FireFox</a> </li>
    </ul>
    <h2>Color Picker</h2>
    <p>These are separate tools for Chrome and FireFox that do the same thing - identify and copy colors that you find on web sites. Great for building color palettes for sites.</p>
    <ul>
     <li><a href="//chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka" title="Open the Eye Dropper Extension tool install in a new tab" target="_blank">Chrome Eye Dropper</a> </li>
     <li><a href="//addons.mozilla.org/en-US/firefox/addon/colorzilla/?src=reco" title="Open the Colorzilla Extension tool install in a new tab" target="_blank">FireFox Colorzilla</a></li>
    </ul>

    <h2>YSlow</h2>
    <p>The YSlow tool checks the weight of web pages when they load into a browser by determining the size of all files (html, css, javascript, images, etc...) that must be downloaded. For our class the maximum weight is 400kb. This tool is currently only available for Chrome - <a href="//chrome.google.com/webstore/detail/yslow/ninejjcohidippngpapiilnmkgllmakh" title="Open the YSlow download page in a new tab" target="_blank">YSlow for Chrome</a>.</p>

    <h2>LastPass</h2>
    <p>This tool is not required but is suggested. With security becoming more of a concern daily a good password manager is a tool that you should have. LastPass is such a tool. I recommend it.</p>
    <ul>
     <li><a href="//lastpass.com/misc_download2.php" title="Open the lastpass extension in a new tab" target="_blank">LastPass Download Page (All major browsers)</a></li>
    </ul>
   </article>
  </main>
  <footer id="footer">
   <a rel="license" target="_blank" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net" target="_blank" title="Visit BlaineRobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US" target="_blank">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>
</body>

</html>
