<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Principle of Design | Web Frontend Development</title>
 <meta name="description" content="Principles of Design for CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>Principles of Design</h1>

    <p>The fundamental principles of design are occassionally described using the acronym PARC. It represents Proximity, Alignment, Repetition and Contrast. These principles of design, along with Typography (the use of fonts) are important to web design in general and can have an impact on the User Experience and User Interface of any web page. You can also <a target="_blank" href="../images/principles-of-design.jpg" title="See the image of the design principles">download or view a quick reference poster</a> of these principles.</p>

    <h2>Instructions</h2>
    <p>Complete the&nbsp;<a href="//www.sitepoint.com/premium/courses/principles-of-design-for-developers-2871" target="_blank" title="Opens in a new tab">SitePoint Premium Principle of Design</a>&nbsp;video course (67 minutes). When completed, return and complete the Design and Analysis assessment listed in this module.</p>

   </article>
  </main>
  <footer id="footer">
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>
</body>

</html>
