<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Design - Analysis Assessment | Web Frontend Development</title>
 <meta name="description" content="The design - analysis assessment for CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>Design - Analysis Assessment</h1>

    <p class="callout"><strong>Note</strong>: Earlier in the week you were charged to spend <a href="mobile-day.html" target="_blank" title="Review the mobile browsing activity in a new tab">24 hours using only a mobile browser</a> for casual Internet use. You were also to have completed the viewing of the <a href="//www.sitepoint.com/premium/courses/principles-of-design-for-developers-2871" target="_blank" title="Open the course in a new tab"> Principles of Design video course</a>. Both must be completed prior to doing this assessment.</p>

    <p><strong>This document will be created through a joint effort of you and your learning team (maximum team size of 5).</strong></p>

    <h2>Tasks</h2>
    <ol>
     <li>The team will decide upon a single website, preferably one of the positive sites identified during the 24 hour mobile experience.</li>
     <li>Each team member is responsible for one or more of the design principles (depending on team size) and will find and capture a screen shot from the web site, viewed in a mobile browser, that illustrates their assigned design principle. The team member will write a paragraph explaining how the page illustrates the specific design principle.</li>
     <li>The team will provide a "Site Purpose Statement" for the site (no more than one paragraph).</li>
     <li>The team will provide a description of the site's target audience.</li>
     <li>The team will provide a persona to represent the target audience.</li>
    </ol>

    <p>Once the content has been developed, the screen caputure image and copy will be sent to the team lead [the team lead is determined by the team members] who will build a web page that will consist of eight sections (five representing the design principles and one each for the site purpose, target audience and persona).</p>

    <h2>Template</h2>
    <p>A <a href="/230d2l/resources/design_template.html.zip" title="Download the template" target="_blank">template has been created</a> for the team lead to use to create the document. The file should be downloaded, unzipped and the content included in the template. The finished file should be renamed to represent the design - analysis assessment. When renaming the template, <a href="naming.html" target="_blank" title="Review the web naming rules">follow the web naming rules</a> from last week's materials. Save the file to a folder that will be used for storing homework in your web site.</p>

    <h2>Submitting Your Work</h2>
    <p>Once the page is constructed, the team lead will:</p>
    <ol>
     <li>place a link to the assessment page in her or his temporary home page</li>
     <li>upload the design principles assessment, pictures and temporary home page (with the new link) to her or his repository/</li>
     <li>test to make sure the link to the assessment file from the home page and the content (including pictures) in the assessment file are fully operational in the remote repository.</li>
     <li>Once tested and working, the team lead will send the URL of the assessment page to each team member.</li>
     <li>Each team member will add the link to his or her temporary home page and upload the page to his or her remote repository.</li>
     <li>Every member of the team should test their own site to make sure the link works and that the assessment document is operational.</li>
     <li>If someone discovers and problem, work together as a team to fix the problem.</li>
    </ol>

    <h2>Grading Matrix</h2>
    <h3>Objective 1</h3>
    <ol>
    <li>The link is present and works on the temporary home page leading to the assessment file: 1 point</li>
     <li>The assessment file images load: 1 point</li>
     <li>The assessment file and enclosing folder follow the web naming rules: 1 point</li>
     <li>The assessment file is valid HTML5: 2 points</li>
     <li style="list-style-type: none;"><b>Total Points: 5 points</b></li>
    </ol>
    <h3>Objective 3</h3>
    <ol>
    <li>The site being used is clearly identified: 1 point</li>
     <li>Each of the design principles is present and contains:
      <ul style="margin-bottom: 0;">
      <li>A heading identifying the principle: 1 point</li>
      <li>A screen capture used to illustrate the principle: 1 point</li>
      <li>A written explanation of how the principle is illustrated by the image: 1 point</li>
      <li style="list-style-type: none;"><b>Total Design Principle Points: 15 points</b></li>
      </ul>
     </li>
     <li>The site purpose is present, fits within the spirit of an "Elevator Pitch" in length and contains no spelling or grammar errors: 3 points</li>
     <li>The target audience is present, describes details of the audience (e.g. age, occupation, income) and appears appropriate to the site: 3 points</li>
     <li>The persona is present and creates a "real person" (e.g. a picture, a name, the occupation or interests of the persona, the primary device used to access the site and a quote regarding a reason for visiting the site): 3 points</li>
     <li style="list-style-type: none;"><b>Total Points: 25 points</b></li>
    </ol>

    <h2>Help?</h2>
    <p>Visit the <a href="media_help.html" target="_blank" title="Open the media page in a new tab">help page</a> to get information about creating a screen capture.</p>
   </article>
  </main>
  <footer id="footer">
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <!--	<script src="../js/course.js"></script>-->
</body>
</html>
