<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>GitHub Desktop | Web Frontend Development</title>
 <meta name="description" content="Install and configure the GitHub Desktop and clone a repository to the local machine for CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="/230v2/css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="/230v2/images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>GitHub Desktop Client</h1>
    <h2>Introduction</h2>
    <p>To keep our interaction with GitHub manageable we will use the <a href="//desktop.github.com/" title="Go to the download page in a new tab" target="_blank">GitHub Desktop client</a> (available for Mac and Windows). This activity will have you download, install and configure the tool to your computer. Part of the setup is to also create (clone) a local version of the web repository created in the first video.</p>

    <p>When the desktop tool is setup, you will then build a simple web page in Brackets (or another web editor) and use the GitHub desktop tool to commit and sync the web page between your local and the remote repository and test that everything worked in a web browser.</p>

    <h2>Tool Setup and Repository Cloning</h2>
    <p>Follow the process described in the video below (pause and rewind as needed) to setup the tool and clone the remote web repository to your local machine.</p>
    <iframe width="420" height="315" src="//www.youtube.com/embed/z4H14lQk0Pg" allowfullscreen></iframe>

    <h2>Commit and Sync Content</h2>
    <p>In this video you will commit your content to the Git version controller and sync the content between the local and remote repositories. When done you will test that the web page you built can be seen in a browser. Remember to pause and rewind as needed until done. Check the outcomes list at the bottom of the page when finished.</p>
    <iframe width="420" height="315" src="//www.youtube.com/embed/lXjx3MPHC4A" allowfullscreen></iframe>

    <h2>Outcomes</h2>
    <ol>
     <li>The GitHub Desktop Client was successfully downloaded and installed.</li>
     <li>My account username and password were successfully used to link the desktop client with my GitHub Account.</li>
     <li>The remote web repository was successfully cloned to my local computer.</li>
     <li>A simple web page was created, then committed and synced with my remote repository using the GitHub Desktop tool.</li>
     <li>The web page on the remote repository was successfully accessed using a web browser.</li>
    </ol>
    <p>If any of these outcomes was not successful, go back and review the process and/or get help until all have been completed.</p>

   </article>
  </main>
  <footer id="footer">
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="/230v2/js/course.min.js"></script>
</body>

</html>
