<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>GitHub Setup | Web Frontend Development</title>
 <meta name="description" content="Creating a  for CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="/230v2/css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="/230v2/images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>Getting Started With GitHub</h1>
    <h2>What is GitHub?</h2>
    <p>GitHub is a web site that allows users to store and share files, applications and projects. The technology behind GitHub can be daunting, but for our class we will attempt to keep things simple.</p>
    <p>A recent implementation by the folks are GitHub was the introduction of web repositories. These are simple web sites for promoting projects. The advantage is that it is free, it supports HTML5, CSS3 and JavaScript and provides a "https" protocol for the site. Perfect for our class.</p>
    <h2>The Video</h2>
    <p>Watch the video below and follow along with it. When done, consult the outcomes listed below the video and ensure that you have accomplished all of them!</p>
    <p class="callout">Using your own name as the web repository name is recommended for our class (e.g. janesmith.github.io).</p>
    <iframe width="420" height="315" src="//www.youtube.com/embed/ZlFq0vVN--w" allowfullscreen></iframe>

    <h2>Outcomes</h2>
    <ol>
     <li>I have created a GitHub account for use in the class.</li>
     <li>I have created a web repository with a readme.md file.</li>
    </ol>

   </article>
  </main>
  <footer id="footer">
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="/230v2/js/course.min.js"></script>
</body>

</html>
