<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Greenville Weather Page | Web Frontend Development</title>
  <meta name="description" content="Greenville Weather Page assessment description for CIT 230">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../css/course.min.css">
</head>

<body>
  <div id="main">
    <header id="header">
      <img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
    </header>
    <main>
      <article id="article">
        <h1>Greenville Weather Page</h1>
        <p>For the last several weeks you have been working with the Franklin weather page. This week you will add the Greenville weather page to the weather site.</p>
        <h2>Use the Weather.json data</h2>
        <p>As you did with the Franklin page, get the weather data from the weather.json file for the Greenville page. Use all weather-related data (not zip, longitude or latitude) for Greenville in the html page.</p>
        <h2>Valid and Semantic</h2>
        <p>Be sure to use valid and semantic (meaningful) html elements as you build the page and its data. The Greenville page should use the same layout as the Franklin page, but the weather data will be different.</p>
        <h2>Navigation</h2>
        <p>Activate the navigation links in both the Franklin and Greenville weather pages to work for both cities. The Springfield navigation item can remain non-operational. Remember to make the navigation a integral part of the <abbr title="User Experience">UX</abbr>.</p>
        <h2>Submission</h2>
        <ol>
          <li>Upload the revised Franklin and new Greenville weather pages and CSS stylesheet used to style them to your web site.</li>
          <li>Do <b>NOT</b> create a new link to the Greenville page on your temporary home page.</li>
          <li>Both pages will be accessed using the Franklin weather page link that should already exist in your temporary home page.</li>
          <li>The new Greenville page will be accessed via the navigation bar in the Franklin page and vice versa.</li>
          <li>Be sure to test the operation of all links, pages and CSS on a variety of devices once the files are uploaded to your web site.</li>
          <li>It is strongly recommended that you exchange formative grading, using the grading matrix below, with at least one other classmate prior to the due date. This will allow you to catch errors and fix them prior to the actual assessment. </li>
        </ol>
        <h2>Grading Matrix</h2>
        <p>Objectives 1 and 2 are assessed in this week's work.</p>
        <h3>Objective 1 (20 points)</h3>
        <ol>
          <li>The viewport meta element is present in the Greenville page - 2 points</li>
          <li>The Greenville page and all resources in the web site follow the web naming rules - 2 points</li>
          <li>The Greenville page has a meaningful, content related title - 2 points</li>
          <li>The Greenville page is constructed using semantic structural elements (including structural elements - header, nav, main, footer) and content elements - 4 points</li>
          <li>The hourly temperature data is included in the Greenville page - 2 points</li>
          <li>The Greenville page is valid HTML5 - 4 points</li>
          <li>The Greenville page layout matches that of the small and large wireframes on mobile and larger screen devices - 4 points (2 points per device)</li>
        </ol>
        <h3>Objective 2 (20 points)</h3>
        <ol>
          <li>Flexbox is implemented in an external style sheet and is used to control the layout for mobile and large screen devices - 3 points (Yes or No)</li>
          <li>Flexbox changes occur within media queries for large screened devices - 3 points (Yes or No)</li>
          <li>All weather data (including hourly temps) is easily read, visually appropriate and can be accessed in all screen sizes - 3 points (Yes or No)</li>
          <li>The PARC and typography design principles are evident in the visual appearance of the Greenville page - 5 points (1 point will be deducted for each missing design principle)</li>
          <li>The CSS is valid CSS3 - 6 points (Minus 1 point for each CSS error up to 6 points)</li>
        </ol>

      </article>
    </main>
    <footer id="footer">
      <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
  </div>
  <script src="../js/course.min.js"></script>
</body>

</html>
