<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>HTML Introduction | Web Frontend Development</title>
 <meta name="description" content="Introduction to HTML video course from SitePoint Premium for CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>Introduction to HTML</h1>

    <p>Hypertext Markup Language (HTML) is the primary language of the World Wide Web. It is what you will use to build the content of your web pages and indicate the organization of that content to the browser. In order to get a fast start with HTML you will watch and follow along with the Introduction to HTML video course (107 minutes).</p>

    <p>As you watch the video course keep in mind that you should download the files and follow along with the course in order to better understand and master the material - please don't just watch it!</p>

    <p class="callout" style="font-size: 1.5em; font-weight: 800;">Go to the&nbsp;<a title="SitePoint Premium video course - opens in a new tab" href="https://www.sitepoint.com/premium/courses/introduction-to-html-2897" target="_blank">Introduction to HTML</a>&nbsp;video course</p>

    <h2>Validation</h2>
    <p>Lesson 5 in the video course discusses and demonstrates validating your code to make sure it is accurate. Pay close attention to this as every web page you produce MUST be valid HTML5 code, including the documents for this week!</p>

    <h2>Read the Book Too</h2>
    <p>In addition to the video, you should have already read chapter 2 in the <a href="download_html5_book.html" title="Download the book for reading" target="_blank">HTML5 &amp; CSS3 for the Real World book</a> (SitePoint Premium).</p>
   </article>
  </main>
  <footer id="footer">
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>
</body>

</html>
