<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Web Naming Rules | Web Frontend Development</title>
 <meta name="description" content="Web Naming Rules for CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="/230v2/css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="/230v2/images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>Web Naming Rules</h1>
    <h2>Introduction</h2>

    <p>When working on the web there are many things that affect the operation of files - the browser, the protocol(s), the client and server operating systems, the language(s), etc.... While many of these are out of our control there are steps that we can take to help keep things consistent -- these steps are known as the web naming rules.</p>

    <p>There are only four of them, but we should follow them religiously to avoid problems! These rules apply to all files and folders in the web site!</p>

    <h2>The Naming Rules</h2>

    <ol>
     <li>Everything is lower case.</li>
     <li>No spaces are used.</li>
     <li>No special characters -- (e.g.
      &lt;,&gt;, \, /, #, ?, ! ).</li>
     <li>Use short, meaningful names.</li>
    </ol>

    <h2>Explanation</h2>

    <p>The case of file names is impacted by the server's operating system - Windows servers are case insensitive while Linux servers are case sensitive. To avoid problems with this, just make things lower case!</p>

    <p>The Hyper-text Transfer Protocol (http) ignores spaces, except in file names. In file names it replaces a space with a symbol %20. This makes URL's look confusing and can also lend itself to confusion in the mind of site visitors. So, avoid using spaces. Instead, if you have to create a visual space, use under-scores _ or hyphens -.</p>

    <p>Special characters often mean specific things to computers, so just avoid using them completely in names!</p>

    <p>Short, meaningful names save you and site visitors from having to remember long complicated names for files and folders. They also, when meaningful, help with the predictive nature of the file or folder contents when working with those files or folders.</p>

    <h2>Summary</h2>

    <p>Be kind and helpful to yourself and site visitors by following these simple rules. Also, be aware that for the class you will be held accountable for doing so as this is part of the grading criteria!</p>
   </article>
  </main>
  <footer id="footer">
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="/230v2/js/course.min.js"></script>
</body>

</html>
