<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Purpose Statement | Web Frontend Development</title>
 <meta name="description" content="Developing a purpose statement for CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>Purpose Statement</h1>
    <h2>Introduction</h2>
    <p>Prior to constructing a web site, you should have a clearly determined purpose for the site. This exercise is to help you develop a purpose statement for an existing site. Later, you will develop one for your own.</p>

    <h2>What is your purpose?</h2>
    <p>This is a question every site owner should have a clear answer to. Sites are a considerable investment in time, money and effort now and in the future. They should not be built without a clear purpose in mind.</p>

    <p>In this exercise you are to visit three web sites: 1) <a href="//www.missouriquiltco.com/" title="Visit the Missouri Star Quilt Company site" target="_blank">missouriquiltco.com</a>, 2)
     <a href="//www.innerbody.com/" title="Learn the human body and its systems" target="_blank">innerbody.com</a> and 3) <a href="//www.californiaavocado.com/" title="Visit California Avocado" target="_blank">californiaavocado.com</a> . After visiting all three, choose one and do the following:</p>

    <ol>
     <li>Put yourself into a group with one other member of the class. The two of you are to work independently during the initial description step.
      <h3>Initial Description</h3>
      <ul>
       <li>One of you is the site owner.</li>
       <li>One of you represents the target audience.</li>
      </ul>
     </li>
     <li>The site owner is to:
      <ol>
       <li>Write a paragraph of what you want the site to do (its purpose) and the audience you intend it for.</li>
       <li>In a second paragraph, state one or two ways that the site accomplishes the purpose. Use specific content or processes from the site as examples.</li>
      </ol>
     </li>
     <li>The target audience member is to:
      <ol>
       <li>State, in your opinion, the main reason you would visit the choosen site.</li>
       <li>List a specific piece of content or tool offered by the site that helps you to accomplish the task listed as the reason for visiting the site.</li>
      </ol>
     </li>
    </ol>

    <h3>Consultation</h3>
    <p>Now, come together and the site owner share the purpose and audience. The audience member share their audience statements.</p>

    <p>Does the owner's audience and purpose statement and the audience member's wants, needs, content and/or processes match? If not, why not? Can they be made to match? How?</p>

    <p>A web site is successful when the site owner clearly understands who the audience is, what the audience wants and can deliver the desired content. How did your selected site do? What could be changed to make it better?</p>

    <h2>The Pitch</h2>
    <p>Now, imagine that you are the site owner and the site has not yet been built. You need money to build the site. You get on to an elevator with an investor and you will ride together from the lobby to the 10th floor of an office building. You have that long, about 30 seconds, to sell your idea. This is known as an <a href="//www.mindtools.com/pages/article/elevator-pitch.htm" title="learn more about elevator pitch" target="_blank">elevator pitch</a>!</p>

    <h2>Share and Refine</h2>
    <p>Your goal (the two of you working together) is to refine the written purpose statement for the site, hone it, edit it and listen to it by reading it aloud. Do so now! (<i>Did you know that reading your work aloud and listening to what you say is a fast and easy proofreading technique?</i>)</p>

    <p>Done? Once you are satisfied, find other members of the class who did the same site and compare. How close were the two statements?</p>

<!--
    <h2>Write Your Own</h2>
    <p>Included in your site plan (due in week 8) will be a clear purpose statement. This exercise is so you can begin the process of clearly identifying your own site purpose, your target audience and how your purpose and the needs and wants of the audience match.</p>
-->
   </article>
  </main>
  <footer id="footer">
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>
</body>

</html>
