<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>SitePoint Premium | Web Frontend Development</title>
 <meta name="description" content="SitePoint Premium in CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="/230v2/css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="/230v2/images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>SitePoint Premium</h1>
    <p>SitePoint Premium is a paid resource for textbooks, video-based web courses, screencasts and other materials that SitePoint has made arrangements to share via this service. <a title="Visit Sitepoint.com - link opens in a new tab" href="//www.sitepoint.com/" target="_blank">SitePoint.com</a>&nbsp;is an Australian company that produces many resources for beginner through expert web developers.</p>

    <h2>Buy The Code</h2>
    <p>You must purchase an access code through the BYU-Idaho bookstore (ISBN: 281000004207B) for $11.00. Then use the URL that accompanies the access code to create a SitePoint Premium account.</p>

    <h2>Use It</h2>
    <p>Starting in week 1 you will have readings assignments, video courses and screen casts to work with as part of the course. In addition, there are many other resources for you to explore and use.</p>
   </article>
  </main>
  <footer id="footer">
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="/230v2/js/course.min.js"></script>
</body>

</html>
