<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Temporary Home Page | Web Frontend Development</title>
 <meta name="description" content="Build a Temporary Home Page for CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="/230v2/css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="/230v2/images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>Temporary Home Page</h1>
    <hr>
    <h2>Introduction</h2>
    <p>With the Brackets Text Editor and the GitHub Desktop client installed and configured and your local and remote web repositories linked, you are ready to post your own temporary home page.</p>

    <p class="callout">In the last GitHub video you created a simple web page named index.html. <strong>You will replace that file with the new file created in this activity, but keep the exact same name!</strong></p>

    <h2>Build a Basic Page</h2>
    <iframe width="420" height="315" src="//www.youtube.com/embed/8csElZy0o2c" allowfullscreen></iframe>
    <h2>Semantic Structure and Content</h2>
    <iframe width="420" height="315" src="//www.youtube.com/embed/o6EQx-6whMA" allowfullscreen></iframe>

    <h2>Commit, Sync and Test</h2>
    <p>With the temporary home page complete it is ready for its initial public appearance.</p>
    <ol>
     <li>Save the index.html file. (There should not be a dot to the left of the file name in the brackets file list panel).</li>
     <li>Open the GitHub Desktop tool.</li>
     <li>The GitHub tool should show 1 file with uncommitted changes.</li>
     <li>Add a title to the commit title text box and a description of the new file.</li>
     <li>Click the "Commit" button below the description.</li>
     <li>Click the "Sync" button (top right corner) and wait for the animation to stop.</li>
     <li>Open a browser window and go to your remote repository site (e.g. userdemo22.github.io). The temporary home page should be visible.</li>
     <li>If the old page shows up in the browser window instead of the new one, try holding down your "Shift" key and click the "Reload" icon in the browser. (This tells the browser to ignore the stored (cached) version of the file and get a fresh version from the remote web server).</li>
     <li>If everything works &ldquo;Hooray!!&rdquo;</li>
     <li>If something fails, get help!</li>
    </ol>

    <p>This exercise is complete only when you go to your remote repository using a web browser and see the temporary home page. Get help if needed but keep at it until everything works as it should.</p>

    <h2>Register your Site</h2>
    <p>With the temporary home page synced to your GitHub Repository you're ready to tell everyone where to find it. Do the following:</p>
    <ol>
     <li>In your browser, go to your Temporary home page on GitHub (the web version, not the code view).</li>
     <li>Click in the address bar, select the entire URL and copy it.</li>
     <li>Go to the Student Site list page in the Student Web Sites module of I-Learn.</li>
     <li>Follow the directions found on the page to create a link to your repository.</li>
     <li>When done, click your name and test the link to make sure it works.</li>
     <li>If it works, you're done. If not, rework it until it does.</li>
    </ol>
   </article>
  </main>
  <footer id="footer">
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="/230v2/js/course.min.js"></script>
</body>

</html>
