<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Usability Assessment | Web Frontend Development</title>
 <meta name="description" content="Usability assessment for the weather pages created for CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>Usability Check: Weather Pages</h1>
    <p>This week you were to do become familiar with the Principles of Usability as found in the <a href="usability.html" target="_blank" title="Refer to the Usability activity">Web Usability</a> activity.</p>

    <h2>Assess The Weather Pages</h2>
    <p>Being familiar with the usability principles, you are to conduct an assessment of the Franklin and Greenville weather pages that have been built. Use the Usability Principles Checklist [<a href="../downloads/usability-checklist.pdf" title="Open the checklist in a new tab" target="_blank">PDF</a> | <a href="../downloads/usability-checklist.dotx" title="Open the checklist in a new tab" target="_blank">Word</a>], focusing on the items in yellow, to conduct the assessment. <mark>Use a separate checklist for each weather page and name each checklist for the page it was used to assess.</mark> Make specific notes in the checklist of errors or ommissions that you find in the weather page.</p>

    <h2>Make Fixes</h2>
    <p>At the conclusion of the assessment you should find there are items that need fixed. Implement the fixes to the html or css to make sure the two pages meet the usability guidelines.</p>

    <h2>Submission</h2>
    <p>Unlike previous weeks where you uploaded new files, this week you will make corrections to the Franklin and/or Greenville weather pages and/or the stylesheet used to style these weather pages to enhance the usability of the pages.</p>
    <p>Once the corrections or alterations are finished you will upload the new versions of the files to your site. You should not have to change any existing links on your site. The same links that worked before should continue to work.</p>
    <p>You will submit your word processing documents (a separate file for each weather page) of the weather page usability assessment to the usability dropbox.</p>
    <h2>Grading Matrix</h2>
    <h3>Objective 3 (16 points)</h3>
    <ol>
     <li>Semantic structures (header, nav, main, footer) are present in the page - 2 points (subtract 1 point per error)</li>
     <li>Headings are clear, descriptive and form an appropriate outline of the content (no missing levels) - 2 points (subtract 1 point per error)</li>
     <li>Link text is easy to identify and stand alone - 2 points (subtract 1 point per error)</li>
     <li>Images have appropriate alt values - 2 points (subtract 1 point per error)</li>
     <li>Content is clear and easy to read - 2 points (subtract 1 point per error)</li>
     <li>Color alone is not used to deliver content meaning - 2 points (subtract 1 point per error)</li>
     <li>Pages are valid HTML5 and CSS3 - 2 points (subtract 1 point per error)</li>
     <li>Pages contain a "lang" attribute with language code - 2 points (subtract 1 point per error)</li>
    </ol>
    <h3 id="team">Objective 6 (5 points)</h3>
    <ol>
     <li>Two usability assessment documents (one for each weather page) were submitted to the Usability Dropbox in this weeks module. (All or nothing score - Yes or No)</li>
    </ol>

   </article>
  </main>
  <footer id="footer">
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="//blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>
</body>

</html>
