<!DOCTYPE html>
<html lang="en-us">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <title>Weather Data JSON | Web Frontend Development</title>
 <meta name="description" content="Download the Weather data JSON file for CIT 230">
 <meta name="viewport" content="width=device-width">
 <link rel="stylesheet" href="../css/course.min.css">
</head>

<body>
 <div id="main">
  <header id="header">
   <img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
  </header>
  <main>
   <article id="article">
    <h1>Weather Data JSON</h1>
    <p><img src="../images/course/activity.png" alt="Activity logo"></p>
    <h2>What is JSON?</h2>
    <p>Like so many other things, JSON is an acronym that stands for&nbsp;<a href="https://en.wikipedia.org/wiki/JSON" target="_blank" title="See more on Wikipedia - opens in a new tab">JavaScript Object Notation</a>. This is geek speak for data that is organized in "name - value pairs" so that other languages (including JavaScript) can easily read and use it. It is a way to organize information and then transfer it from one location to another using the Internet. The data can be read and inserted into web pages.</p>

    <p>You will be using the downloadable JSON file for the&nbsp;remainder&nbsp;of the course as it will provide some sample&nbsp;data for you to use on the web pages you will be building for our weather site.</p>

    <h2>Three Towns</h2>
    <p>In the weather.json file you will find weather related data for three towns: Franklin, Greenville and Springfield. For each town you will find data for one day, including: High, Low, Precip and other information. You will want to open the file and take a look at how it is organized, but don't change anything.</p>

    <h2>Not all at First</h2>
    <p>We will not use all of the information at first. In fact, you will only use the items as shown in the mobile wireframe for now.</p>

    <h2>Download</h2>
    <p><a href="../downloads/weather.json.zip" title="Download the zipped JSON file" target="_blank">Download the zipped JSON file</a> using the provided link and save it to your javascript folder (create one if needed) in your web site. You will have to unzip the file in order to use the actual JSON file.</p>
   </article>
  </main>
  <footer id="footer">
   <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by Blaine Robertson and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
 </div>
 <script src="../js/course.min.js"></script>
</body>

</html>
