<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Weather Underground API | Web Frontend Development</title>
  <meta name="description" content="The Weather Underground API introduced for CIT 230">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../css/course.min.css">
</head>

<body>
  <div id="main">
    <header id="header">
      <img src="../images/smallbanner.jpg" alt="CIT 230 Course Banner">
    </header>
    <main>
      <article id="article">
        <h1>Weather Underground API</h1>
        <hr>
        <h2>Register and Get a Key</h2>
        <p>wunderground.com (Weather Underground) is a weather site that provides weather data to many sites across the web. They have a free service that has limited use for developers and small web sites (such as ours). You will be doing many of the same tasks with wunderground.com that were demonstrated in the jQuery: Beyond the Basics videos you watched in <a href="jquery_json.html" target="_blank" title="Opens in a new tab">JQuery and JSON</a> activity.</p>
        <ol>
          <li>Go to <a href="http://www.wunderground.com/" target="_blank" title="Opens in a new tab">wunderground.com</a> and register for a Basic (free) account.</li>
          <li>Once registered, login using your username and password.</li>
          <li><a href="http://www.wunderground.com/weather/api/d/docs" target="_blank" title="Opens in a new tab">Apply for an API key</a> for a "Stratus Developer" plan (this should be free) for your own web site.</li>
          <li>Make sure you read the "API Terms of Use" agreement, particularly the "Conditions and Restrictions, item a" and "Rate Limits; Overage Policy".</li>
          <li>Once you have received your API key, make a copy of it and store it where you can access it easily in your own computer. <b>DO NOT share it with anyone</b>. You are responsible for it.</li>
        </ol>
        <h2>Look at the Code Samples</h2>
        <p>This section is to learn how the API works and how you follow its rules in order to get data from it. It is critical that you <i><b>pay attention to details</b></i> as you look at these examples.</p>
        <ol>
          <li>Visit the <b><a href="http://www.wunderground.com/weather/api/d/docs?d=resources/code-samples" target="_blank" title="Opens in a new tab">Code Samples page</a></b> to look at the options available for accessing the data from the API.</li>
          <li>Visit the <b><a href="http://www.wunderground.com/weather/api/d/docs?d=data/geolookup" target="_blank" title="Opens in a new tab">geolookup</a></b> page to review the type of data that is returned from a geolookup query.</li>
          <ol>
            <li>Scroll all the way to the bottom and examine the various options for getting geolocation data: including: name, zip code, longitude and latitude.</li>
          </ol>
          <li>Visit the <b><a href="http://www.wunderground.com/weather/api/d/docs?d=data/conditions" target="_blank" title="Opens in a new tab">conditions</a></b> page to review the type of data that is returned from a conditions query.</li>
          <li>Visit the <b><a href="http://www.wunderground.com/weather/api/d/docs?d=data/index" target="_blank" title="Opens in a new tab">Data Features: URL Format</a></b> page to see how multiple data types can be requested at the same time.</li>
        </ol>
        <h2>Do The Assessment</h2>

        <p>When you have received you key and become familiar (maybe even bookmarked the API documentation pages you looked at above) with the wunderground.com API you are ready to do the <a href="current_location_assess.html" target="_blank" title="Opens in a new tab">Current Location</a> assessment for this week.</p>

        <p class="callout"><i><b>Note:</b>&nbsp; JavaScript and JQuery are very powerful but sometimes confusing. You are strongly encouraged to work together in your learning team to assist one another as you work on the activities and assessments mentioned in this and all lessons!</i>
        </p>
      </article>
    </main>
    <footer id="footer">
      <a rel="license" href="//creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="//i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> All materials (except as noted) are by <a href="http://blainerobertson.net">Blaine Robertson</a> and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 License</a>.</footer>
  </div>
  <script src="../js/course.min.js"></script>
</body>

</html>
